# macOS
.DS_Store

# Environment variables
.env

# Gradle
.gradle/
build/

# IntelliJ IDEA
.idea/

# Local Git repository
.git/

nba-stats-tracker-api-gateway/build
nba-stats-tracker-service-discovery/build
nba-stats-tracker-web-client
nba-stats-tracker-web-server/build

