# macOS
.DS_Store

# Environment variables
.env

# Gradle
.gradle/
build/

# Gradle wrapper
gradle/.tmp/
gradle/caches/
gradle/daemon/
gradle/jdks/
gradle/native/
gradle/workers/
gradle/wrapper/dists/

# IntelliJ IDEA
.idea/

# Local Git repository
.git/

nba-stats-tracker-api-gateway/build
nba-stats-tracker-api-gateway/src/main/resources/*.jks
nba-stats-tracker-api-gateway/src/main/resources/*.p12
nba-stats-tracker-api-gateway/src/main/resources/*.crt

nba-stats-tracker-service-discovery/build
nba-stats-tracker-web-server/build
nba-stats-tracker-web-server/src/main/resources/*.jks
nba-stats-tracker-web-server/src/main/resources/*.p12
nba-stats-tracker-web-server/src/main/resources/*.crt
nba-stats-tracker-web-server/src/main/resources/*.pem

nba-stats-tracker-web-client/node_modules/
nba-stats-tracker-web-client/build/
nba-stats-tracker-web-client/*pem
nba-stats-tracker-web-client/npm-debug.log*
nba-stats-tracker-web-client/yarn-debug.log*
nba-stats-tracker-web-client/yarn-error.log*
nba-stats-tracker-web-client/jspm_packages/
nba-stats-tracker-web-client/.npm
nba-stats-tracker-web-client/.eslintcache
nba-stats-tracker-web-client/.node_repl_history
nba-stats-tracker-web-client/*.tgz
nba-stats-tracker-web-client/.env*



