# macOS
.DS_Store

# Environment variables
.env

# Gradle
.gradle/
build/

# Gradle wrapper
gradle/.tmp/
gradle/caches/
gradle/daemon/
gradle/jdks/
gradle/native/
gradle/workers/
gradle/wrapper/dists/

# IntelliJ IDEA
.idea/

# Local Git repository
.git/

nba-stats-tracker-api-gateway/build
nba-stats-tracker-api-gateway/src/main/resources/*.jks
nba-stats-tracker-api-gateway/src/main/resources/*.p12
nba-stats-tracker-api-gateway/src/main/resources/*.crt

nba-stats-tracker-service-discovery/build
nba-stats-tracker-web-server/build
nba-stats-tracker-web-server/src/main/resources/*.jks
nba-stats-tracker-web-server/src/main/resources/*.p12
nba-stats-tracker-web-server/src/main/resources/*.crt
nba-stats-tracker-web-server/src/main/resources/*.pem

